<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div id="jqxgrid"></div>
      <div id="popupWindow">
        <div>Edit/Delete</div>
        <div style="overflow: hidden;">
          <table>
            <tr>
              <td align="right">Name:</td>
              <td align="left"><input id="name" /></td>
            </tr>
            <tr>
              <td align="right">Price:</td>
              <td align="left"><input id="price" /></td>
            </tr>
            <tr>
              <td align="right"></td>
              <td style="padding-top: 10px;" align="right"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Delete" type="button" value="Delete"
                style="margin-right: 5px;"/><input id="Cancel" type="button" value="Cancel"
                /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
