<!--<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div class="row"> 
    <div class="col-xs-6">
      <div id="jqxgrid"></div>
      <div id="popupWindow">
        <div>Edit/Delete</div>
        <div style="overflow: hidden;">
          <table>
            <tr>
              <td align="right">Name:</td>
              <td align="left"><input id="name" /></td>
            </tr>
            <tr>
              <td align="right">Price:</td>
              <td align="left"><input id="price" /></td>
            </tr>
            <tr>
              <td align="right">Quantity:</td>
              <td align="left"><input id="quantity" /></td>
            </tr>
            <tr>
              <td align="right"></td>
              <td style="padding-top: 10px;" align="right"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Delete" type="button" value="Delete"
                style="margin-right: 5px;"/><input id="Cancel" type="button" value="Cancel"
                /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>-->
<div class="invoice-body">
  <header>
    <h1>Invoice</h1>
    <address contenteditable>
      <p>Abhishek Bakery</p>
      <p>Mira-Bhayander<br>Mumbai, Maharashtra 400082</p>
      <p>+91-9854632650</p>
    </address>
    <span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>
  </header>
  <article>
    <table class="meta">
      <tr>
        <th><span contenteditable>Invoice #</span></th>
        <td><span contenteditable>0001</span></td>
      </tr>
      <tr>
        <th><span contenteditable>Date</span></th>
        <td><span contenteditable>January 1, 2012</span></td>
      </tr>
    </table>
    <table class="inventory">
      <thead>
        <tr>
          <th><span contenteditable>Product Id</span></th>
          <th><span contenteditable>Priduct Name</span></th>
          <th><span contenteditable>Price</span></th>
          <th><span contenteditable>Quantity</span></th>
          <th><span contenteditable>Total Price</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a class="cut">-</a><span contenteditable>1</span></td>
          <td><span contenteditable>Biscuit</span></td>
          <td><span data-prefix>₹</span><span contenteditable>150.00</span></td>
          <td><span contenteditable>4</span></td>
          <td><span data-prefix>₹</span><span>600.00</span></td>
        </tr>
      </tbody>
    </table>
    <a class="add">+</a>
    <table class="balance">
      <tr>
        <th><span contenteditable>Total Amount</span></th>
        <td><span data-prefix>₹</span><span>600.00</span></td>
      </tr>
    </table>
  </article>
  <aside>
    <h1><span contenteditable>Additional Notes</span></h1>
    <div contenteditable>
      <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
    </div>
  </aside>
</div>
