<div class="container" width="800px" id="invoice">
    <div class="row">
      <div class="col-xs-12 heading">
        INVOICE
      </div>
    </div>
    <div class="row branding">
      <div class="col-xs-6">
        <div class="invoice-number-container">
          <label for="invoice-number">Invoice #</label><input type="text" id="invoice-number" ng-model="invoice.invoice_number" readonly/>
        </div>
      </div>
      <div class="col-xs-6 logo-container">
        <input type="file" id="imgInp" />
        <img ng-hide="logoRemoved" id="company_logo" ng-src="{{ logo }}" alt="your image" width="300" />
        <!--<div>
          <div class="noPrint" ng-hide="printMode">
            <a ng-click="editLogo()" href >Edit Logo</a>
            <a ng-click="toggleLogo()" id="remove_logo" href >{{ logoRemoved ? 'Show' : 'Hide' }} logo</a>
          </div>
        </div>-->
      </div>
    </div>
    <div class="row infos">
      <!--<div class="col-xs-6">
        <div class="input-container"><input type="text" ng-model="invoice.customer_info.name"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.customer_info.web_link"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.customer_info.address1"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.customer_info.address2"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.customer_info.postal"/></div>
        <div class="input-container" data-ng-hide='printMode'>
          <select ng-model='currencySymbol' ng-options='currency.symbol as currency.name for currency in availableCurrencies'></select>
        </div>
      </div>-->
      <div class="col-xs-6">
        <div class="input-container"><input type="text" ng-model="invoice.company_info.name" readonly/></div>
        <!--<div class="input-container"><input type="text" ng-model="invoice.company_info.web_link" readonly/></div>-->
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address1" readonly/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address2" readonly/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.postal" readonly/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.phone" readonly/></div>
      </div>
    </div>

    <div class="items-table">
      <div class="row header">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-1">Id</div>
        <div class="col-xs-4">Name</div>
        <div class="col-xs-2">Quantity</div>
        <div class="col-xs-2">Cost {{currencySymbol}}</div>
        <div class="col-xs-2 text-right">Total</div>
      </div>
      <div class="row invoice-item"  ng-hide="printMode" ng-animate="'slide-down'" style="background: grey;">
        <div class="col-xs-1 remove-item-container">
          <a href ng-hide="printMode" ng-click="addItem(itemToBeEntered)" class="btn btn-primary">[+]</a>
        </div>
        <div class="col-xs-1 input-container">
          <angucomplete-alt id="idAutocomplete"
              placeholder="Id"
              pause="100"
              selected-object="selectedId"
              local-data="itemsArray"
              search-fields="id"
              title-field="id"
              minlength="1"
              input-class="input" my-enter="enterKeyPressed(itemToBeEntered)"/>
        </div>
        <div class="col-xs-4 input-container">
          <!--<input ng-model="itemToBeEntered.name" placeholder="Name" />-->
          <angucomplete-alt id="nameAutocomplete"
              placeholder="Name"
              pause="100"
              selected-object="selectedName"
              local-data="itemsArray"
              search-fields="name"
              title-field="name"
              minlength="1"
              input-class="input" my-enter="enterKeyPressed(itemToBeEntered)"/>
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="itemToBeEntered.qty" value="1" placeholder="Quantity" size="4" my-enter="enterKeyPressed(itemToBeEntered)"/>
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="itemToBeEntered.cost" placeholder="Cost" size="6" my-enter="enterKeyPressed(itemToBeEntered)"/>
        </div>
        <!--<div class="col-xs-2 input-container">
          <input ng-model="itemToBeEntered.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="itemToBeEntered.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
        </div>-->
        <div class="col-xs-2 text-right input-container">
          {{itemToBeEntered.cost * itemToBeEntered.qty | currency: currencySymbol}}
        </div>
      </div>
      <div class="row invoice-item" ng-repeat="item in invoice.items track by $index" ng-animate="'slide-down'">
        <div class="col-xs-1 remove-item-container">
          <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
        </div>
        <div class="col-xs-1 input-container">
          <input ng-model="item.id" placeholder="Id" style="width: 90%" disabled/>
        </div>
        <div class="col-xs-4 input-container">
          <input ng-model="item.name" placeholder="Name" disabled/>
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.qty" placeholder="Quantity" size="4"/>
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.cost" placeholder="Cost" size="6"/>
        </div>
        <!--<div class="col-xs-2 input-container">
          <input ng-model="item.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
        </div>-->
        <div class="col-xs-2 text-right input-container">
          {{item.cost * item.qty | currency: currencySymbol}}
        </div>
      </div>
      <!--<div class="row invoice-item">
        <div class="col-xs-12 add-item-container" ng-hide="printMode">
          <a class="btn btn-primary" href ng-click="addItem()" >[+]</a>
        </div>
      </div>-->
      <div class="row">
        <div class="col-xs-10 text-right">Sub Total</div>
        <div class="col-xs-2 text-right">{{invoiceSubTotal() | currency: currencySymbol}}</div>
      </div>
      <!--<div class="row">
        <div class="col-xs-10 text-right">Tax(%): <input ng-model="invoice.tax" ng-validate="number" style="width:43px"></div>
        <div class="col-xs-2 text-right">{{calculateTax() | currency: currencySymbol}}</div>
      </div>-->
      <div class="row">
        <div class="col-xs-10 text-right">Grand Total:</div>
        <div class="col-xs-2 text-right">{{calculateGrandTotal() | currency: currencySymbol}}</div>
      </div>
    </div>
    <div class="row noPrint actions">
      <button class="btn btn-primary" ng-show="printMode" ng-click="printInfo()" style="margin-right: 10px;">Print</a>
      <button class="btn btn-primary" ng-click="clearLocalStorage()" style="margin-right: 10px;">Reset</a>
      <button class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;" style="margin-right: 10px;">Turn On Print Mode</a>
      <button class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;" style="margin-right: 10px;">Turn Off Print Mode</a>
    </div>
  </div>

  <!--<div ng-hide="printMode" class="copy noPrint">
    <a href="http://jasdeep.ca/?utm_source=angular_invoicing">Jasdeep Singh</a> &amp;
    <a href="http://github.com/manpreetrules">Manpreet Singh</a>
    Made with
    <span class="love">&#9829;</span> in Toronto by
    <a href="http://metawarelabs.com/?utm_source=angular_invoicing">Metaware Labs Inc.</a>
  </div>-->