<section class="content-header">
  <h1>
    {{title}}
  </h1>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div id="jqxgrid"></div>
      <input value="Remove Filter" id="clearfilteringbutton" type="button" />
    </div>
  </div>
</section>
<!--<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div id="jqxgrid"></div>
      <input style="margin-top: 10px;" value="Remove Filter" id="clearfilteringbutton" type="button" />
    </div>
  </div>
</div>-->
